body {
    margin:0px;
    background:#FFFFFF;
}

.header-cont {
    width:100%;
    position:fixed;
    top:0px;
}

.header {
    font:400 32px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#B7410E;
    background:#FFFFFF;
    height:95px;
    width:800px;
    margin:/*10px*/ auto;
    text-indent: 10px;
    border-bottom: 1px solid #B7410E;
    border-top: 15px solid #FFFFFF;
}

.post-header {
    font:400 32px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#B7410E;
    background:#FFFFFF;
    height:95px;
    width:800px;
    margin:/*10px*/ auto;
    text-indent: 10px;
    border-bottom: 1px solid #B7410E;
    border-top: 15px solid #FFFFFF;
}

.title {
  font:400 32px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.subtitle {
  font:400 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
  width:800px;
  font:400 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  margin: 140px auto;
}

a:link {
    color:#B7410E;
    background-color:transparent;
    text-decoration:none;
}

a:visited {
    color:#B7410E;
    background-color:transparent;
    text-decoration:none;
}

.social-media-list {
    float:right;
    width:25px;
}

.post-name {
  font:400 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#616161;
}

.post-date {
  font:400 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#616161;
}

.post-description {
  font:400 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#616161;
}

.post-content {
  width:800px;
  font:400 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  margin: 30px auto;
  color:#616161;
  text-align: justify;
  text-justify: inter-word;
}

h1 {
  font:400 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#B7410E;
  margin: 30px auto;
}

.post-name + .post-date { margin-top: 10px; }
.post-date + .post-description { margin-top: 15px; }
.post-description + .post-name { margin-top: 45px; }
